/*Burger for adaptive*/
.burger-btn {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    z-index: 20;
    height: 30px;
    align-items: center;
}
.burger-btn span {
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 20%;
    background-color: #5E81FE;
    position: relative;
    transition: .6s ease-in-out;
}
.burger-btn span::before,
.burger-btn span::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    border-radius: 20%;
    left: 0;
    background-color: #5E81FE;
    transition: .6s ease-in-out;
}
.burger-btn span::before {
    bottom: -12px;
}
.burger-btn span::after {
    bottom: 12px;
}
.burger-btn:hover {
    cursor: pointer;
}
.burger-btn--active span {
    transition: .6s ease-in-out;
    background-color: transparent;
}
.burger-btn--active span::before,
.burger-btn--active span::after {
    bottom: 0;
    transition: .6s ease-in-out;
    background-color: #5E81FE;
}
.burger-btn--active span::before {
    transform: rotate(45deg);
}
.burger-btn--active span::after {
    transform: rotate(-45deg);
}
/*---*/

/*Adaptive Layout*/
@media (max-width: 1569px) {
    /*6 block*/
    .quotes__inner {
        padding: 110px 0 130px 180px;
    }
    .quotes__slider {
        max-width: 100%;
    }
    .quotes .slick-initialized .slick-slide {
        margin-left: 170px;
    }
}
@media (max-width: 1230px) {
    /*1 block*/
    .header__buttom-partners {
        grid-gap: 5px;
    }
    .partners-item {
        text-align: center;
    }
    .slick-dots {
        right: 47%;
    }
    /*5 block*/
    .reading .slick-dots {
        bottom: -100px;
        right: 45%;
    }
    .slider-arrow-next {
        right: -50px;
    }
    .slider-arrow-prev {
        left: -50px;
    }
}
@media (max-width: 1205px) {
    /*5 block*/
    .reading__img-box,
    .reading__text-box {
        margin: 0 auto;
        text-align: center;
    }
    .reading__img-box {
        padding-bottom: 20px;
    }
    .reading__text-box {
        padding-left: 0;
    }
    .reading__slider {
        padding: 45px 41px 0px;
    }
}
@media (max-width: 1195px) {
    /*2 block*/
    .managing_inner {
        justify-content: center;
        padding: 50px 0;
    }
    .managing__content-box {
        padding-bottom: 30px;
    }
    /*3 block*/
    .about__content-item + .about__content-item:before {
        right: 137%;
    }
    /*6 block*/
    .quotes .slick-initialized .slick-slide {
        margin-left: 100px;
    }
}
@media (max-width: 1050px) {
    /*1 block*/
    .header__buttom-partners {
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 15px;
        padding: 70px 130px;
    }
    .slider-next {
        right: 47.5%;
    }
    /*3 block*/
    .about__content-item + .about__content-item {
        margin-left: 0;
    }
    .about__content-item + .about__content-item:before {
        right: 116%;
        bottom: 48%;
    }
    
}
@media (max-width: 900px) {
    /*1 block*/
    .header__buttom-partners {
        grid-template-columns: repeat(2, 3fr);
        grid-gap: 15px;
        padding: 70px 130px;
    }
    .burger-btn {
        display: flex;
    }
    .menu__list {
        display: block;
        position: absolute;
        width: 80%;
        top: 0;
        transform: translateY(-150%);
        background-color: #5E81FE;
        text-align: center;
        opacity: 0.95;
        transition: .7s linear;
        border-radius: 30%;
        padding-bottom: 30px;
        z-index: 15;
    }
    .menu__link,
    .menu__link span {
        padding: 15px 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Quicksand';
        line-height: 20px;
    }
    .menu__list--active {
        transform: translateX(10%);
        padding: 0 auto;
        margin-top: 10%;
    }
    .menu {
        align-items: center;
        display: flex;
    }
    .menu__item span {
        font-weight: 500;
        letter-spacing: 0.05em;
        text-shadow: 0px 0px 5px #E6E6E6;
        transition: color .2s linear;
    }
    .menu__link::after {
        display: none;
    }
    .menu__link:hover,
    .menu__link:hover span {
        color: #D43F3F;
    }
    .slick-initialized .slick-slide {
        margin-top: 80px;
    }
    .menu__item + .menu__item {
        margin-left: 0;
    }
    /*2 block*/
    .managing__img {
        max-width: 100%;
    }
    /*3 block*/
    .about__content-item + .about__content-item:before {
        display: none;
    }
    .about__inner {
        padding: 80px 0;
    }
    /*6 block*/
    .quotes__inner {
        padding: 30px 0 140px 110px;
    }
    .quotes .slick-initialized .slick-slide {
        margin-left: 64px;
    }
    .quotes .slick-dots {
        bottom: -35%;
    }
}
@media (max-width: 800px) {
    /*3 block*/
    .about__content {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 32px;
    }
    .about__content-item + .about__content-item {
        margin: 0 auto;
    }
    /*5 block*/
    .reading__inner {
        padding: 73px 100px 100px;
    }
    .reading__title {
        padding-bottom: 35px;
    }
    .reading .slick-dots {
        bottom: -55px;
        right: 41%;
    }
    .reading__slider {
        padding: 0px 41px 0px;
    }
}
@media (max-width: 730px) {
    /*5 block*/
    .reading__img-box {
        display: block;
    }
    .img-popup-group {
        padding-left: 0;
        display: flex;
        justify-content: space-between;
    }
    .slick-slide img {
        display: inline-flex;
    }
    .reading__img:last-child {
        margin-top: 2px;
    }
    .reading__loop {
        top: -800%;
    }
    /*6 block*/
    .quotes .slick-dots {
        bottom: -25%;
        right: 50%;
    }
    .quotes__inner {
        padding: 30px 0 115px 10px;
    }
    .quotes .slick-initialized .slick-slide {
        margin-left: 57px;
    }
}
@media (max-width: 652px) {
    /*6 block*/
    .quotes .slick-dots {
        bottom: -37%;
    }
}
@media (max-width: 632px) {
    /*5 block*/
    .reading__text-box button {
        width: 100%;
    }
    .reading__text-box .btn-1 {
        margin-bottom: 10px;
    }
    .reading__text-box p {
        padding-bottom: 24px;
    }
}
@media (max-width: 600px) {
    /*1 block*/
    .header__buttom-partners {
        grid-template-columns: repeat(1, 5fr);
        grid-gap: 25px;
        padding: 30px 130px;
    }
    .slick-dots {
        bottom: 15px;
        right: 46%;
    }
    .menu__list--active {
        margin-top: 15%;
    }
    /*2 block*/
    .managing__content-box {
        text-align: center;
        max-width: 413px;
        margin: 0 auto;
    }
    .managing__content-box p {
        padding-bottom: 10px;
    }
    .managing__content-box .btn-1 {
        margin-bottom: 5px;
    }
    /*4 block*/
    .stats__users-inner {
        padding: 66px 0 66px 20px;
    }
    .stats__customers-inner {
        padding: 66px 20px 66px 0;
    }
    /*5 block*/
    .reading__img {
        width: 127px;
    }
    .reading__loop {
        top: -450%;
        right: 23%;
    }
    .img-popup-group {
        display: block;
    }
    .reading__img:last-child {
        margin-top: 0;
    }
    .reading .slick-dots {
        right: 39%;
    }
}
@media (max-width: 550px) {
    /*5 block*/
    .reading .slick-dots {
        right: 39%;
    }
    .reading__inner {
        padding: 70px 20px 100px;
    }
    .slider-arrow-next {
        right: 0px;
    }
    .slider-arrow-prev {
        left: 0px;
    }
    .reading__img-box {
        padding-bottom: 0;
    }
    /*6 block*/
    .quotes__slider-item {
        width: 123px;
        padding: 45px 20px;
    }
    .quotes .slick-initialized .slick-slide {
        margin-left: 40px;
    }
    .quotes__slider-img {
        left: 36%;
    }
}
@media (max-width: 500px) {
    /*6 block*/
    .quotes__inner {
        padding: 30px 0 130px 10px;
    }
    .quotes .slick-dots {
        bottom: -45%;
    }
    .quotes .slick-initialized .slick-slide {
        margin-left: 25px;
    }
    .quotes__slider-item .slick-slide .slick-current .slick-active .slick-center {
        opacity: 0.45;
    }
}
@media (max-width: 460px) {
    /*6 block*/
    .quotes__slider-item {
        max-width: 100%;
        margin: 0 auto;
    }
    .quotes .slick-slide {
        transform: scale(1);
    }
    .quotes .slick-initialized .slick-slide {
        margin-left: 0;
    }
    .slick-list {
        width: 100%;
    }
    .quotes__inner {
        justify-content: center;
    }
    .quotes__slider-item .slick-slide .slick-current .slick-active {
        margin: 0 auto;
    }
    .quotes__inner {
        padding: 30px 0 50px 10px;
    }
    .quotes .slick-dots {
        bottom: -15%;
    }

}
@media (max-width: 400px) {
    /*1 block*/
    .header__top-social {
        display: none;
    }
    .slider__title, h1 {
        color: #3D4F9F;
        font-family: 'Quicksand';
        font-size: 36px;
        line-height: 41px;
        font-weight: 300;
        padding-bottom: 21px;
    }
    .slick-initialized .slick-slide {
        margin-top: 100px;
    }
    .slider-next {
        right: 43.5%;
    }
    .slick-dots {
        right: 40.5%;
    }
    .slick-dots li button {
        height: 8px;
        width: 8px;
    }
    .header__buttom-partners {
        padding: 20px 0px;
    }
    .menu__list--active {
        margin-top: 20%;
    }
    /*3 block*/
    .about__buttons-box {
        display: block;
    }
    .about__buttons-box p {
        padding: 15px 0;
    }
    .about__buttons-box p:before {
        left: 62%;
    }
    .about__buttons-box p::after {
        right: 62%;
    }
    .about__buttons-box p:before, .about__buttons-box p:after {
        bottom: 48%;
    }
    .about__title {
        padding-bottom: 50px;
    }
    .about__content {
        padding-bottom: 60px;
    }
    /*4 block*/
    .stats__title {
        font-size: 38px;
        line-height: 57px;
    }
    .stats__subtext {
        font-size: 14px;
        line-height: 17px;
    }
    .stats__users-inner {
        padding: 40px 0 40px 20px;
    }
    .stats__customers-inner {
        padding: 40px 20px 40px 0;
    }
    /*6 block*/
    .quotes__inner {
        padding: 29px 0 90px 10px;
    }
    .quotes .slick-dots {
        bottom: -26%;
    }
    .slick-initialized .slick-slide {
        margin-top: 50px;
    }
}
@media (max-width: 320px) {
    /*5 block*/
    .managing__title, h2 {
        font-family: 'Quicksand';
        font-size: 30px;
        line-height: 29px;
        color: #3D4F9F;
        font-weight: 400;
        padding-bottom: 11px;
    }
    .reading__text-box p {
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.02em;
        padding-bottom: 10px;
    }
    .reading .slick-dots {
        right: 31%;
    }
}
