/*border-box - все внутренние отступы и границы включены в размер блока (content-box - по умолч)*/
html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}
/*---*/

/*Fonts*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.woff') format('woff'),
         url('../fonts/Quicksand-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.woff') format('woff'),
         url('../fonts/Quicksand-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.woff') format('woff'),
         url('../fonts/Quicksand-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.woff') format('woff'),
         url('../fonts/Quicksand-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
/*---*/

body {
    color: #8D96BD;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
    line-height: 29px;
    font-weight: 400;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #697CA6;
}

li {
    list-style: none;
}

/*1 block*/
.header {
    min-height: 100vh;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
}
.menu__list,
.header__top-social,
.social-box {
    display: flex;
}
.menu__list::before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 26px;
    background-color: #5E81FE;
    margin-right: 73px;
    cursor: pointer;
}
.menu__item + .menu__item {
    margin-left: 42px;
}
.menu__item span {
    font-weight: bold;
    color: #5E81FE;
}
.menu__link {
    font-family: 'Quicksand';
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 5px #E6E6E6;

    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
    transition: color .2s linear;
    top: 15%;
}
.menu__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #5E81FE;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
}
.menu__link:hover::after,
.menu__link:focus::after{
    transform: translate3d(0, 0, 0);
}
.menu__link:hover {
    color: #5E81FE;
}
.header__top-social {
    margin-top: 11px;
}
.social-item {
    margin-right: 35px;
}
.social-item svg path {
    transition: .4s linear;
}
.social-item svg:hover path {
    fill: #6188FF;
}
.header__top-btn {
    margin-left: 9px;
    color: #3A79FF;
    font-family: 'Quicksand';
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    border: none;
    padding: 13px 16px;
    cursor: pointer;
    transition: .4s ease-in;
}
.header__top-btn:hover {
    color: #fff;
    background-color: #3A79FF;
    border-radius: 15px;
}

.header__content {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__content-box {
    max-width: 581px;
    text-align: center;
    margin: 0 auto;
    padding-top: 84px;
}
.slider__pre-text,
h6 {
    color: #3D4F9F;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    padding-bottom: 16px;
}
.slider__title,
h1 {
    color: #3D4F9F;
    font-family: 'Quicksand';
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    padding-bottom: 28px;
}
.slider__title span,
h1 span,
h2 span {
    font-weight: 500;
}
.header__content-box p {
    letter-spacing: 0.03em;
    max-width: 502px;
    margin: 0 auto;
}
.slider-next {
    padding: 20px 20px 18px 22px;
    background-color: #fff;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 48.5%;
    transition: .5s ease-in;
}
.slider-next:hover {
    background-color: #3A79FF;
    transform: scale(1.17);
}
.slider-next svg path {
    transition: .5s linear;
}
.slider-next:hover svg path {
    fill: #fff;
}
.slick-dots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    max-width: 100px;
    position: absolute;
    content: '';
    bottom: 34px;
    right: 48.5%;
}
.slick-dots li button {
    background-color: #D1D6E3;
    color: transparent;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    padding: 0;
    transition: .4s linear;
}
.slick-dots .slick-active button {
    background-color: #3A79FF;
}
.slick-track {
    top: -50px;
}

.header__buttom-partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 76.5px;
    padding: 60px 158px;
    align-items: center;
}
.partners-item svg path {
    transition: .4s ease-in;
}
.partners-item svg:hover path {
    fill: #5982E7;
}

/*2 block*/
.managing {
    background-color:#F5F8FF;
}
.managing_inner {
    padding: 170px 0;
    display: flex;
    justify-content: end;
}
.managing__content-box {
    margin: auto 0;
    max-width: 413px;
    margin-right: 55px;
}
.managing__pre-text {
    padding-bottom: 27px;
}
.managing__title,
h2 {
    font-family: 'Quicksand';
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    font-weight: 400;
    padding-bottom: 27px;
}
.managing__content-box p {
    padding-bottom: 47px;
    letter-spacing: 0.03em;
}
.managing__btn-box {
    justify-content: start;
}
.btn-1,
.btn-2 {
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Quicksand';
    font-size: 13px;
    line-height: 19px;
    border-radius: 2px;
}
.btn-1:hover {
    background-color: #fff;
    color: #4C85FF;
    outline: 0;
}
.btn-1 {
    padding: 14px 23px 14px 23px;
    background-color: #4C85FF;
    color: #fff;
    box-shadow: 0 0 20px 20px #4C85FF inset, 0 0 0 0 #4C85FF;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-1:hover {
    box-shadow: 0 0 5px 0 #4C85FF inset, 0 0 5px 4px #4C85FF;
}
.btn-1 svg path {
    transition: all .3s ease-in-out;
}
.btn-1:hover svg path {
    fill: #4C85FF;
}
.btn-1 svg {
    margin-left: 6px;
}
.btn-2 {
    padding: 12px 23px;
    background-color: transparent;
    color: #ADB4D2;
    border: 2px solid #D1D1E4;
    -webkit-transition: box-shadow 300ms ease-in-out, color .4s ease-in-out;
    transition: box-shadow 300ms ease-in-out, color .4s ease-in-out;
}
.btn-2:hover {
    box-shadow: 0 0 20px 20px #4C85FF inset;
    color:#fff;
}

/*3 block*/
.about > .container {
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.about__inner {
    text-align: center;
    padding: 170px 0;
}
.about__pre-text {
    padding-bottom: 20px;
}
.about__title {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 92px;
}
.about__content {
    display: flex;
    padding-bottom: 92px;
}
.about__content-item {
    max-width: 140px;
    margin: 0 auto;
    position: relative;
}
.about__content-item + .about__content-item {
    margin-left: 67px;
}
.about__content-item + .about__content-item:before {
    position: absolute;
    content: '';
    width: 28px;
    height: 1px;
    background-color: #DAE4FE;
    bottom: 50%;
    right: 146%;
}
.about__content-img {
    padding-bottom: 33px;
}
.about__content-title {
    color: #4074F8;
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    font-family: 'open-sans';
    padding-bottom: 25px;
}
.about__content-text {
    font-size: 11px;
    line-height: 19px;
    font-weight: 600;
    font-family: 'open-sans';
    color: #ADB3CB;
}
.about__buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__buttons-box .btn-1:first-child {
    background-color: #FFD7D7;
    box-shadow: 0 0 20px 20px #FFD7D7 inset, 0 0 0 0 #FFD7D7;
    color: #D43F3F;
    transition: box-shadow 400ms linear, color .5s linear;
}
.about__buttons-box .btn-1:first-child:hover {
    box-shadow: 0 0 5px 0 #D43F3F inset, 0 0 5px 1px #D43F3F;
    background-color: #D43F3F;
    color: #fff;
}
.about__buttons-box .btn-1:last-child {
    background-color: #D2E1FF;
    box-shadow: 0 0 20px 20px #D2E1FF inset, 0 0 0 0 #D2E1FF;
    color: #3A79FF;
    transition: box-shadow 400ms linear, color .5s linear;
}
.about__buttons-box .btn-1:last-child:hover {
    box-shadow: 0 0 5px 0 #3A79FF inset, 0 0 5px 1px #3A79FF;
    background-color: #3A79FF;
    color: #fff;
}
.about__buttons-box p {
    font-family: 'open-sans';
    font-size: 11px;
    line-height: 19px;
    font-weight: 600;
    padding: 0 48px;
    position: relative;
}
.about__buttons-box p:before,
.about__buttons-box p:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 1px;
    background-color: #DAE4FE;
    bottom: 38%;
}
.about__buttons-box p:before {
    left: 70%
}
.about__buttons-box p:after {
    right: 70%;
}

/*4 block*/
.statistics {
    display: flex;
}
.stats__customers {
    background-color: #5E80FF;
    text-align: right;
    width: 50%;
    color: #fff;
}
.stats__users {
    background-color: #E9EFFF;
    text-align: left;
    width: 50%;
    color: #5E80FF;
}
.stats__customers-inner {
    padding: 66px 90px 66px 0;
}
.stats__users-inner {
    padding: 66px 0 66px 90px;
}
.stats__img {
    padding-bottom: 15px;
}
.stats__title {
    padding-bottom: 10px;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    letter-spacing: 0.03em;
}
.stats__subtext {
    font-family: 'Quicksand';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    max-width: 260px;
}
.stats__customers-inner .stats__subtext {
    margin-left: auto;
}
.stats__users-inner .stats__subtext {
    margin-right: auto;
}

/*5 block*/
.reading {
    text-align: center;
    background-color: #F5F8FF;
    position: relative;
}
.reading__inner {
    padding: 104px 100px 213px;
}
.reading__pre-text {
    padding-bottom: 20px;
}
.reading__title {
    font-size: 24px;
    line-height: 30px;
    color: #3D4F9F;
    font-weight: 500;
    padding-bottom: 92px;
}
.reading__slider {
    background-color: #fff;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 15px 50px #EFF4FF;
    display: flex;
    flex-wrap: wrap;
    padding: 63px 41px 19px;
}
.slider-arrow-prev,
.slider-arrow-next {
    background-color: transparent;
    border: none;
    position: absolute;
    content: '';
    cursor: pointer;
    bottom: 46%;
    z-index: 15;
    transition: .3s linear;
}
.slider-arrow-prev:hover,
.slider-arrow-next:hover {
    opacity: 0.7;
}
.slider-arrow-prev {
    left: -100px;
}
.slider-arrow-next {
    right: -100px;
}
.reading__img-box,
.reading__slider-item {
    display: flex;
}
.img-popup-item {
    position: relative;
}
.reading__loop {
    position: absolute;
    top: 41%;
    right: 37%;
    transition: .5s ease-in;
    z-index: 10;
}
.img-popup-item:hover .reading__loop {
    transform: scale(1.1);
}
.img-popup-item:hover {
    cursor: zoom-in;
}
.reading__img:last-child {
    margin-top: 12px;
}
.img-popup-group {
    padding-left: 15px;
}
.reading__text-box {
    text-align: left;
    padding-left: 67px;
    max-width: 408px;
}
.reading__text-box p {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}
.reading__text-box .btn-1 {
    background-color: #D2E1FF;
    box-shadow: 0 0 20px 20px #D2E1FF inset, 0 0 0 0 #D2E1FF;
    color: #3A79FF;
    transition: box-shadow 400ms linear, color .5s linear;
}
.reading__text-box .btn-1:hover {
    box-shadow: 0 0 5px 0 #3A79FF inset, 0 0 5px 1px #3A79FF;
    background-color: #3A79FF;
    color: #fff;
}
.slick-initialized .slick-slide {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.reading .slick-dots {
    bottom: -126px;
    right: 48%;
}
/*popup_start*/
.mfp-no-margins img.mfp-img {
	padding: 0;
}
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
.mfp-no-margins .mfp-container {
	padding: 0;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
/*popup_end*/